/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
    .container{
        padding: 0px 20px;
    }

    .nav,
    .nav > ul,
    .gamer-wrapper
    {
        flex-direction: column;
    }

    .nav li{
        margin-top: 36px;
    }

    #banner{
        background-position: bottom left;
        background-size: 100%;
    }

    .inner-banner{
        flex-direction: column-reverse;
    }

    .banner-image,
    .gamer-image
    {
        max-width: 100%;
    }

    .banner-content,
    .gamer-content,
    .play-instantly-content
    {
        max-width: 100%;
        text-align: center;
    }

    .online-game-container{
        grid-template-columns: 1fr;
    }

    
    .play-instantly-container{
        flex-direction: column;
        gap: 50px;
    }

    .play-instantly-image-container {
        max-width: calc(100% - 100px);
        margin-left: 80px;
    }

    .play-instantly-content{
        display: block;
        text-align: center; 
        width: auto; 
        margin-top: 0px; 
        margin: 0 auto;
    }

    .play-sub-image {
        max-width: 200px;
        top: -150px;
        left: -54px;
    }

        
    .play-sub-image img{
        width: 100%; 
        
    }

    .games-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .social-link a{
        margin: 0 15px
    }

}


/* Responsive for Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 768px){
    .container{
        padding: 0 50px;
    }

    .nav,
    .gamer-wrapper
    {
        flex-direction: column;
    }

    .nav > ul{
        margin: 30px 0;
    }

    /* banner area styles */
    #banner{
        background-position: bottom left;
        background-size: 70%;
    }

    .inner-banner{
        flex-direction: column-reverse;
    }

    .banner-image,
    .gamer-image
    {
        max-width: calc(100% - 100px);
    }

    .banner-content,
    .gamer-content{
        max-width: 100%;
        text-align: center;
    }

    
    .online-game-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .play-instantly-container{
        flex-direction: column;
        gap: 50px;
    }

    .play-instantly-image-container {
        max-width: calc(100% - 100px);
        margin-left: 80px;
    }

    .play-instantly-content{
        display: block;
        text-align: center; 
        width: auto; 
        margin-top: 0px; 
        margin: 0 auto;
    }

    .play-sub-image {
        max-width: 250px;
        top: -160px;
        left: -64px;
    }



}

@media screen and (min-width: 768.1px) and (max-width: 1440px){
    .container{
        padding: 0 120px;
    }
}
