/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
    .container{
        padding: 20px 0px;
    }

    .nav,
    .nav > ul,
    .gamer-wrapper
    {
        flex-direction: column;
    }

    .nav li{
        margin-top: 36px;
    }

    #banner{
        background-position: bottom left;
        background-size: 100%;
    }

    .inner-banner{
        flex-direction: column-reverse;
    }

    .banner-image,
    .gamer-image
    {
        max-width: calc(100% - 40px);
    }

    .banner-content,
    .gamer-content{
        max-width: calc(100% - 40px);
        text-align: center;
    }

    .game-container{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }


}


/* Responsive for Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 768px){
    .container{
        padding: 0 50px;
    }

    .nav,
    .gamer-wrapper
    {
        flex-direction: column;
    }

    .nav > ul{
        margin: 30px 0;
    }

    /* banner area styles */
    #banner{
        background-position: bottom left;
        background-size: 70%;
    }

    .inner-banner{
        flex-direction: column-reverse;
    }

    .banner-image,
    .gamer-image
    {
        max-width: calc(100% - 100px);
    }

    .banner-content,
    .gamer-content{
        max-width: 100%;
        text-align: center;
    }

    
    .game-container{
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (min-width: 768.1px) and (max-width: 1440px){
    .container{
        padding: 0 120px;
    }
}
